<div class="jumbotron">
  <h1>Welcome to the Iron Slag!</h1>
  <p>The Iron Yard's own Glossary of Front and Back end Engineering terms</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
